.*.sh
.DS_Store
.githooks/
.toolchain
.vscode/
*.code-workspace
*.info
*.lcov
*.tar
*.txt
*.versatiles
coverage
frontend
releases
target
test.trace
testdata/*.tif
testdata/temp*
testdata/test*
tiles
tmp
