[package]
name = "versatiles"
edition = "2021"
version = "0.5.3"
description = "A toolbox for converting, checking and serving map tiles in various formats."
homepage = "https://versatiles.org"
repository = "https://github.com/versatiles-org/versatiles-rs"
authors = ["Michael Kreil <versatiles@michael-kreil.de>"]
keywords = ["versatiles", "mbtiles", "tiles", "map"]
categories = ["command-line-utilities", "science::geo", "web-programming::http-server"]
readme = "README.MD"
license = "MIT"
exclude = ["/benches*", "/docker", "/helpers", "/testdata"]

[dependencies]
async-trait = { version = "0.1.68", default-features = false }
axum = { version = "0.6.18", default-features = false, features = ["tokio"] }
brotli = { version = "3.3.4", default-features = false, features = ["std"] }
byteorder = { version = "1.4.3", default-features = false }
bytes = { version = "1.4.0", default-features = false }
clap = { version = "4.3.2", default-features = true }
clap-verbosity-flag = { version = "2.0.1", default-features = false }
enumset = { version = "1.1.2", default-features = false }
env_logger = { version = "0.10.0", default-features = false }
flate2 = { version = "1.0.26", default-features = false }
futures = { version = "0.3.28", default-features = false, features = ["executor"] }
hyper = { version = "0.14.26", default-features = false }
image = { version = "0.24.6", default-features = false, features = ["jpeg", "png"] }
itertools = { version = "0.10.5", default-features = false, features = ["use_alloc"] }
lazy_static = { version = "1.4.0", default-features = false }
log = { version = "0.4.18", default-features = false }
mime_guess = { version = "2.0.4", default-features = false }
r2d2 = { version = "0.8.10", default-features = false, optional = true }
r2d2_sqlite = { version = "0.22.0", default-features = false, optional = true }
rayon = { version = "1.7.0", default-features = false }
regex = { version = "1.8.4", default-features = false, features = ["std"] }
reqwest = { version = "0.11.18", default-features = false, features=["blocking", "rustls-tls"] }
tar = { version = "0.4.38", default-features = false }
term_size = { version = "0.3.2", default-features = false }
tokio = { version = "1.28.2", default-features = false, features = ["macros"] }
webp = { version = "0.2.2", default-features = false, features = ["img"] }

[dev-dependencies]
assert_fs = { version = "1.0.13" }
criterion = { version = "0.5.1", default-features = false, features = ["async_futures"] }

[features]
default = ["mbtiles"]
mbtiles = ["dep:r2d2", "dep:r2d2_sqlite"]

[lib]
name = "versatiles"
path = "src/lib.rs"

[[bin]]
name = "versatiles"
path = "src/main.rs"

[[bench]]
name = "versatiles"
harness = false
path = "benches/main.rs"

[profile.dev]
opt-level = 1
debug = true
rpath = false
lto = false
debug-assertions = true
codegen-units = 256
panic = "unwind"
incremental = true
overflow-checks = true

[profile.release]
opt-level = 3
debug = false
rpath = false
lto = true
debug-assertions = false
codegen-units = 1
panic = "unwind"
incremental = false
overflow-checks = false
strip = true

[profile.bench]
lto = false
