[package]
name = "versatiles_core"
authors.workspace = true
categories.workspace = true
description.workspace = true
edition.workspace = true
exclude.workspace = true
homepage.workspace = true
keywords.workspace = true
license.workspace = true
readme.workspace = true
repository.workspace = true
version.workspace = true

[dependencies]
anyhow.workspace = true
async-trait.workspace = true
brotli = { version = "7.0.0", default-features = false, features = ["std"] }
byteorder = { workspace = true, features = [] }
clap = { workspace = true, optional = true, features = ["std", "derive"] }
colored = { version = "3.0.0", default-features = false, optional = true }
enumset.workspace = true
flate2 = { version = "1.0.35", default-features = false, features = ["default"] }
futures.workspace = true
indicatif = { version = "0.17.9", default-features = false, features = [
	"unicode-width",
], optional = true }
itertools.workspace = true
lazy_static = { workspace = true }
num_cpus.workspace = true
regex = { workspace = true }
reqwest = { workspace = true, features = ["rustls-tls"] }
tokio.workspace = true

[dev-dependencies]
assert_fs.workspace = true
criterion = "0.5.1"
tokio = { workspace = true, features = ["macros"] }
wildmatch.workspace = true

[features]
default = ["cli"]
cli = ["dep:clap", "dep:colored", "dep:indicatif"]
test = []

[[bench]]
name = "byte_iterator"
harness = false
