[package]
name = "versatiles_container"
authors.workspace = true
categories.workspace = true
description.workspace = true
edition.workspace = true
exclude.workspace = true
homepage.workspace = true
keywords.workspace = true
license.workspace = true
readme.workspace = true
repository.workspace = true
version.workspace = true

[dependencies]
anyhow.workspace = true
async-trait.workspace = true
byteorder.workspace = true
futures.workspace = true
itertools = { workspace = true, features = ["use_alloc"] }
lazy_static.workspace = true
log.workspace = true
num_cpus.workspace = true
r2d2 = { version = "0.8.10", default-features = false }
r2d2_sqlite = { version = "0.31.0", default-features = false, features = [
	"bundled",
] }
regex.workspace = true
reqwest = { workspace = true, features = ["rustls-tls"] }
tar = { version = "0.4.44", default-features = false }
time = { version = "0.3.44", default-features = false, features = [
	"formatting",
	"local-offset",
] }
tokio = { workspace = true, features = ["macros", "rt"] }
uuid = { version = "1.19.0", features = ["v4"] }

versatiles_core = { workspace = true, default-features = false }
versatiles_derive.workspace = true
versatiles_geometry.workspace = true
versatiles_image.workspace = true

[dev-dependencies]
assert_fs.workspace = true
rstest.workspace = true
tempfile.workspace = true
wildmatch.workspace = true

versatiles_core = { workspace = true, features = ["test"] }

[features]
default = []
cli = ["versatiles_core/cli"]
test = []
