[package]
name = "versatiles_container"
authors.workspace = true
categories.workspace = true
description.workspace = true
edition.workspace = true
exclude.workspace = true
homepage.workspace = true
keywords.workspace = true
license.workspace = true
readme = "README.md"
repository.workspace = true
version.workspace = true

[dependencies]
anyhow.workspace = true
arc-swap.workspace = true
async-trait.workspace = true
byteorder.workspace = true
clap = { workspace = true, optional = true, features = ["std", "derive"] }
colored = { workspace = true, optional = true }
enumset.workspace = true
futures.workspace = true
itertools = { workspace = true, features = ["use_alloc"] }
lazy_static.workspace = true
log.workspace = true
num_cpus.workspace = true
parking_lot.workspace = true
r2d2 = { workspace = true, features = [] }
r2d2_sqlite = { workspace = true, features = ["bundled"] }
regex.workspace = true
reqwest = { workspace = true, features = ["rustls-tls"] }
tar.workspace = true
terminal_size.workspace = true
time = { workspace = true, features = ["formatting", "local-offset"] }
tokio = { workspace = true, features = ["macros", "rt"] }
uuid = { workspace = true, features = ["v4"] }

versatiles_core = { workspace = true, default-features = false }
versatiles_derive.workspace = true
versatiles_geometry.workspace = true
versatiles_image.workspace = true

[dev-dependencies]
assert_fs.workspace = true
rstest.workspace = true
tempfile.workspace = true
wildmatch.workspace = true

versatiles_core = { workspace = true, features = ["test"] }

[features]
default = []
cli = ["dep:clap", "dep:colored", "versatiles_core/cli"]
test = []
