[package]
name = "versatiles_container"
authors.workspace = true
categories.workspace = true
description.workspace = true
edition.workspace = true
exclude.workspace = true
homepage.workspace = true
keywords.workspace = true
license.workspace = true
readme.workspace = true
repository.workspace = true
version.workspace = true

[dependencies]
anyhow.workspace = true
async-trait.workspace = true
futures.workspace = true
itertools = { workspace = true, features = ["use_alloc"] }
log.workspace = true
r2d2 = { version = "0.8.10", default-features = false }
r2d2_sqlite = { version = "0.26.0", default-features = false, features = ["bundled"] }
reqwest = { workspace = true, features = ["rustls-tls"] }
tar = { version = "0.4.43", default-features = false }
tokio = { workspace = true, features = ["macros", "rt"] }

versatiles_core = { workspace = true, default-features = false }
versatiles_pipeline = { workspace = true }

[dev-dependencies]
lazy_static.workspace = true
assert_fs.workspace = true
wildmatch.workspace = true

versatiles.workspace = true
versatiles_core = { workspace = true, features = ["test"] }

[features]
default = []
cli = ["versatiles_core/cli"]
test = []
