name: Continuous Integration

on:
  push:
    branches:
      - "**"
    tags:
      - "!**" # Don't run twice on commits with tags
    paths-ignore:
      - "helpers/**"
      - "**.Dockerfile"
      - "**.md"
  pull_request:
  schedule:
    - cron: "0 3 5,20 * *"
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy

      - name: Init Cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Cargo Fmt
        run: cargo fmt -- --check

      - name: Cargo Clippy
        run: cargo clippy --workspace --all-features -- -D warnings

      - name: Cargo Check
        run: cargo check --workspace --all-features

      - name: Cargo Test Lib (minimal)
        run: cargo test -p versatiles-lib

      - name: Cargo Test Lib (HTTP)
        run: cargo test -p versatiles-lib -F http

      - name: Cargo Test Lib (Full)
        run: cargo test -p versatiles-lib -F full

      - name: Cargo Test Binary
        run: cargo test -p versatiles

      - name: Install Cargo Coverage
        uses: taiki-e/install-action@cargo-llvm-cov

      - name: Cargo Coverage
        run: cargo llvm-cov test --workspace --all-features --tests --lcov --output-path ./lcov.info

      - name: Upload Coverage
        uses: codecov/codecov-action@v4
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
