---
name: CI

on:
   push:
   pull_request:
   schedule:
      - cron: "0 0 15 * *"
   workflow_dispatch:
      inputs:
         logLevel:
            description: "Log level"
            required: true
            default: "warning"
         tags:
            description: "Test scenario tags"

env:
   CARGO_TERM_COLOR: always

jobs:
   checks:
      name: checks
      runs-on: ubuntu-latest
      steps:
         - uses: actions/checkout@v3

         - name: update rust
           run: rustup update stable && rustup default stable

         - name: add components
           run: rustup component add rustfmt clippy

         - name: cargo fmt
           run: cargo fmt -- --check

         - name: cargo clippy
           run: cargo clippy -- -D warnings

         - name: cargo check
           run: cargo check

   tests:
      name: tests
      runs-on: ubuntu-latest
      steps:
         - uses: actions/checkout@v3

         - name: update rust
           run: rustup update stable && rustup default stable

         - name: add components
           run: rustup component add rustfmt clippy

         - name: cargo test
           run: cargo test
