name: CI

on:
  push:
    branches:
      - "**"
    tags:
      - "!**" # Don't run twice on commits with tags
    paths-ignore:
      - "docker/**"
      - "**.Dockerfile"
      - "**.md"
  pull_request:
  schedule:
    - cron: "15 6 * * 2"
  workflow_dispatch:

permissions:
  contents: read

env:
  CARGO_TERM_COLOR: always

jobs:
  linux:
    name: "Test on Linux"
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v5

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy

      - name: Install GDAL
        run: |
          sudo add-apt-repository ppa:ubuntugis/ubuntugis-unstable
          sudo apt-get update
          ./scripts/install-gdal.sh

      - name: Init Cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Run fmt
        run: cargo fmt -- --check

      - name: Run check
        run: cargo check --workspace --all-features --all-targets

      - name: Run clippy /
        run: cargo clippy --workspace --all-features --all-targets -- -D warnings
      - name: Run clippy /versatiles
        run: cd versatiles; cargo clippy --workspace --all-features --all-targets -- -D warnings
      - name: Run clippy /versatiles_container
        run: cd versatiles_container; cargo clippy --workspace --all-features --all-targets -- -D warnings
      - name: Run clippy /versatiles_core
        run: cd versatiles_core; cargo clippy --workspace --all-features --all-targets -- -D warnings
      - name: Run clippy /versatiles_derive
        run: cd versatiles_derive; cargo clippy --workspace --all-features --all-targets -- -D warnings
      - name: Run clippy /versatiles_geometry
        run: cd versatiles_geometry; cargo clippy --workspace --all-features --all-targets -- -D warnings
      - name: Run clippy /versatiles_image
        run: cd versatiles_image; cargo clippy --workspace --all-features --all-targets -- -D warnings
      - name: Run clippy /versatiles_pipeline
        run: cd versatiles_pipeline; cargo clippy --workspace --all-features --all-targets -- -D warnings

      - name: Run test /
        run: cargo test --workspace --all-features --all-targets
      - name: Run test /versatiles
        run: cd versatiles; cargo test --all-features --all-targets
      - name: Run test /versatiles_container
        run: cd versatiles_container; cargo test --all-features --all-targets
      - name: Run test /versatiles_core
        run: cd versatiles_core; cargo test --all-features --all-targets
      - name: Run test /versatiles_derive
        run: cd versatiles_derive; cargo test --all-features --all-targets
      - name: Run test /versatiles_geometry
        run: cd versatiles_geometry; cargo test --all-features --all-targets
      - name: Run test /versatiles_image
        run: cd versatiles_image; cargo test --all-features --all-targets
      - name: Run test /versatiles_pipeline
        run: cd versatiles_pipeline; cargo test --all-features --all-targets

      - name: Install Cargo Coverage
        uses: taiki-e/install-action@cargo-llvm-cov

      - name: Cargo Coverage
        run: cargo llvm-cov test --workspace --all-features --tests --lcov --output-path ./lcov.info

      - name: Upload Coverage
        uses: codecov/codecov-action@v5
        with:
          files: ./lcov.info
          token: ${{ secrets.CODECOV_TOKEN }}
          verbose: true
#  windows:
#    name: 'Test on Windows'
#    runs-on: windows-latest
#    steps:
#      - name: Check out
#        uses: actions/checkout@v5
#
#      - name: Install Rust
#        uses: dtolnay/rust-toolchain@stable
#        with:
#          components: rustfmt, clippy
#
#      - name: Init Cache
#        uses: actions/cache@v4
#        with:
#          path: |
#            C:\Users\runneradmin\.cargo\bin\
#            C:\Users\runneradmin\.cargo\registry\index\
#            C:\Users\runneradmin\.cargo\registry\cache\
#            C:\Users\runneradmin\.cargo\git\db\
#            target\
#          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
#
#      - name: Run Fmt, Clippy and Test
#        shell: pwsh
#        working-directory: ${{ env.GITHUB_WORKSPACE }}
#        run: .\scripts\test.ps1
