name: Continuous Integration

on:
  push:
    branches:
      - "**"
    tags:
      - "!**" # Don't run twice on commits with tags
    paths-ignore:
      - ".github/workflows/**"
      - "**.Dockerfile"
      - "**.md"
  pull_request:
  schedule:
    - cron: "0 3 5,20 * *"
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: rustup update stable && rustup default stable
      - run: rustup component add rustfmt clippy
      - run: cargo fmt -- --check
      - run: cargo clippy -- -D warnings
      - run: cargo check

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: rustup update stable && rustup default stable
      - run: ./helpers/test_features.sh

  codecov:
    name: code coverage
    if: ((github.head_ref || github.ref_name) == 'main') && (github.event_name != 'pull_request')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: rustup update stable && rustup default stable
      - uses: taiki-e/install-action@cargo-llvm-cov
      - run: cargo llvm-cov test --bin versatiles --tests --lcov --output-path ./lcov.info
      - uses: codecov/codecov-action@v3
